In [1]:
import pandas as pd
import numpy as np

In [2]:
file=pd.read_csv("C:\\Users\\HP\\Desktop\\dataset_Facebook.csv")

In [3]:
file

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
file.shape

(500, 19)

In [5]:
file1=file.iloc[[3,5,9,18,20,47,58,60,67],:]

In [6]:
file1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
20,138414,Photo,2,12,1,3,0.0,2848,5066,200,142,184,3561,1963,157,3,66.0,12.0,81
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
58,138329,Photo,1,11,4,10,0.0,2257,4372,230,173,327,3188,1557,168,3,76.0,11.0,90
60,138185,Photo,1,11,3,11,1.0,10940,27951,417,335,591,15066,5100,319,8,101.0,14.0,123
67,138185,Photo,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787

In [7]:
file1.shape

(9, 19)

In [8]:
file2=file.iloc[[80,85,95,97,105,115,123,137,145],:]
file2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
80,137177,Status,2,11,7,3,0.0,8728,17827,2295,2235,2828,15418,7344,2099,2,86.0,13.0,101
85,137177,Photo,1,11,4,9,1.0,2566,5244,384,280,469,3834,1806,266,10,140.0,8.0,158
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
97,137059,Photo,2,10,5,11,0.0,2819,5230,318,218,303,3128,1622,240,1,115.0,26.0,142
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
115,136642,Photo,1,10,7,12,1.0,813,1568,323,319,387,1402,695,280,0,4.0,2.0,6
123,136393,Photo,1,10,7,7,0.0,617,1071,229,223,265,935,521,191,1,3.0,2.0,6
137,136013,Photo,1,10,5,8,0.0,1080,2427,210,189,249,2195,934,184,4,32.0,3.0,39
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96

In [9]:
file2.shape

(9, 19)

In [10]:
m1=pd.concat([file1, file2])
m1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
20,138414,Photo,2,12,1,3,0.0,2848,5066,200,142,184,3561,1963,157,3,66.0,12.0,81
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
58,138329,Photo,1,11,4,10,0.0,2257,4372,230,173,327,3188,1557,168,3,76.0,11.0,90
60,138185,Photo,1,11,3,11,1.0,10940,27951,417,335,591,15066,5100,319,8,101.0,14.0,123
67,138185,Photo,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
80,137177,Status,2,11,7,3,0.0,8728,17827,2295,2235,2828,15418,7344,2099,2,86.0,13.0,101
85,137177,Photo,1,11,4,9,1.0,2566,5244,384,280,469,3834,1806,266,10,140.0,8.0,158
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
97,137059,Photo,2,10,5,11,0.0,2819,5230,318,218,303,3128,1622,240,1,115.0,26.0,142
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
115,136642,Photo,1,10,7,12,1.0,813,1568,323,319,387,1402,695,280,0,4.0,2.0,6
123,136393,Photo,1,10,7,7,0.0,617,1071,229,223,265,935,521,191,1,3.0,2.0,6
137,136013,Photo,1,10,5,8,0.0,1080,2427,210,189,249,2195,934,184,4,32.0,3.0,39
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96

In [11]:
m1.shape

(18, 19)

In [12]:
file3 = file.iloc[:, [2,3,4,7]]
file3

     Category  Post Month  Post Weekday  Lifetime Post Total Reach
0           2          12             4                       2752
1           2          12             3                      10460
2           3          12             3                       2413
3           2          12             2                      50128
4           2          12             2                       7244
..        ...         ...           ...                        ...
495         3           1             7                       4684
496         2           1             5                       3480
497         1           1             5                       3778
498         3           1             4                       4156
499         2           1             4                       4188

[500 rows x 4 columns]

In [13]:
file4 = file.iloc[:, [12,15,18]]
file4

,Lifetime Post Impressions by people who have liked your Page,comment,Total Interactions
0,3078,4,100
1,11710,5,164
2,2812,0,80
3,61027,58,1777
4,6228,19,393
...,...,...,...
495,4750,5,84
496,3961,0,75
497,4742,4,115
498,4534,7,136
499,3861,0,119

In [14]:
m2 = file3.merge(file4,left_index=True, right_index=True)
m2

,Category,Post Month,Post Weekday,Lifetime Post Total Reach,Lifetime Post Impressions by people who have liked your Page,comment,Total Interactions
0,2,12,4,2752,3078,4,100
1,2,12,3,10460,11710,5,164
2,3,12,3,2413,2812,0,80
3,2,12,2,50128,61027,58,1777
4,2,12,2,7244,6228,19,393
...,...,...,...,...,...,...,...
495,3,1,7,4684,4750,5,84
496,2,1,5,3480,3961,0,75
497,1,1,5,3778,4742,4,115
498,3,1,4,4156,4534,7,136
499,2,1,4,4188,3861,0,119

In [15]:
sort_values = file.sort_values('comment',ascending=False)
sort_values

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
228,131728,Photo,2,7,4,3,0.0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0,456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,119198,Photo,3,5,2,12,0.0,2718,4698,566,528,663,3601,1992,306,0,50.0,10.0,60
333,119198,Photo,3,5,2,1,0.0,3024,5630,596,560,721,4114,2098,341,0,64.0,20.0,84
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
103,137020,Photo,1,10,3,4,0.0,1388,2544,224,219,931,2161,1214,172,0,13.0,4.0,17
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [16]:
file.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [17]:
reshape = file.melt(id_vars=["like"],value_vars=["share","comment"])
reshape

       like variable  value
0      79.0    share   17.0
1     130.0    share   29.0
2      66.0    share   14.0
3    1572.0    share  147.0
4     325.0    share   49.0
..      ...      ...    ...
995    53.0  comment    5.0
996    53.0  comment    0.0
997    93.0  comment    4.0
998    91.0  comment    7.0
999    91.0  comment    0.0

[1000 rows x 3 columns]